<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Client-side Templating Demo</title>
</head>
<body>

<div id="profile"></div>

<h2>Repositories</h2>
<div id="repos"></div>

<template id="profile-template">
  <div class="profile">
    <img src="{{avatar_url}}" alt="{{name}}" width="200">
    <h1>{{name}}</h1>
    <p>Blog: {{blog}}</p>
    <p>Company: {{company}}</p>
  </div>
</template>

<template id="repos-template">
  {{#each repos}}
    <div class="repo">
      <h3>{{name}}</h3>
      <p>{{description}}</p>
      <p>
        {{#if stargazers_count}}
          Stars: {{stargazers_count}}
        {{else}}
          No stars
        {{/if}}
      </p>
    </div>
  {{/each}}
</template>

<script src="jquery-3.2.1.js"></script>
<script src="handlebars-v4.0.10.js"></script>
<script src="main.js"></script>

</body>
</html>
